.dv-accord{
  
  
  .accordion {
    --bs-accordion-active-bg: #ffffff;
    --bs-accordion-active-color: #000000;
    --bs-accordion-btn-focus-box-shadow: none;
  }
  .accordion-button.collapsed {
    border: 1px solid #d8d8d8;
  }
  .accordion .accordion-item:has(.accordion-button:not(.collapsed)) {
    border: 2px solid #000000;
    // box-shadow: 5px 5px #000000;
  }
  .accordion-button:not(.collapsed) {
    box-shadow: none;
  }
  .accordion-collapse {
    transition: all 0.3s;
  }
  .card {
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
  }
  .accordion-button{
    font-size: 25px;
    font-weight: 600;
  }

  .text-orange {
    color: orange;
  }

  .text-left {
    text-align: left;
  }
  .star {
    width: 20px;
    height: 20px;
  }
  .share {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  .button-style {
    text-align: center;
    padding-bottom: 100px;
  }
  .btn-2 {
    background-color: white;
    color: blue;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #2575fc;
    font-size: 17px;
    font-weight: 600;
  }
  .division {
    margin-top: 15px;
  }
  .heading {
    font-weight: 500;
    font-size: 15px;
  }
  .h6 {
    align-items: center;
  }
  .para {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .h1{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    font-weight: bold;
  }
}